          * {
            font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
          }

          body, input, textarea, select, button, .normal {
              font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
              font-size: 13px;
              color: #3d464d;
              font-weight: normal;
          }

          body {
            background: url('../img/excel-page.png');
            background-size: cover;
          }

          .modal-dialog {
              width: 422px;
              margin-top: 10vh;
          }

          .modal-backdrop.fade.in {
              background-color: rgba(37,40,43,0.6);
              opacity: 1;
          }

          .modal-content {
              border: 0;
              box-shadow: 0 1px 2px rgba(0,0,0,0.1);
              background-color: #fff;
              border-radius: 4px;
          }

          .modal-header {
              min-height: 16.43px;
              padding: 20px 32px;
              border-bottom: none;
          }

          .modal-body {
            box-sizing: content-box;
            padding: 32px;
            background: #f6f9fc;
            border-top: 1px solid #d0d4d9;
        }

        .auth-google.button-primary {
            position: relative;
            padding: 5px 0;
            margin-bottom: 5px;
            width: 100%;
            background-size: 16px 16px;
            background-repeat: no-repeat;
            background-position: left 10px center;
            background-image: url('../img/google-logo-white-vfltwSoWq.svg');
            background-color: #4285f4;
            border: 1px solid rgba(0,0,0,0.2);
            font-family: 'Roboto', sans-serif;
            font-weight: 500;
            font-size: 14px;
                color: #fff;
                border-radius: 5px;
                margin: 0;
                display: inline-block;
    text-align: center;
    cursor: pointer;
    overflow: visible;
    text-decoration: none;
        min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    -webkit-appearance: none;
        outline: 0;
          }

          .hr-label {
    position: relative;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
    clear: both;
}
.hr-label {
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    clear: both;
}

.hr-label__text {
    background-color: #f6f9fc;
}
.hr-label__text {
    display: inline-block;
    position: relative;
    padding: 0 12px;
}
input.form-control {
    border: 1px solid #bdc4c9;
    font-size: 16px;
    padding: 5px 6px;
    width: 100%;
    margin: 2px 0 5px;
    min-height: 34px;
    line-height: normal;
    box-sizing: border-box;
    border-radius: 0px;
    -webkit-appearance: none;
    box-shadow: none;
     margin-bottom: 25px;
}
.hr-label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}
.hr-label::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.btn.btn-excel{
  background-color: #217346;
  color: #fff;
    border: 1px solid transparent;
    margin: 0;
    padding: 7px 16px;
    font-size: 12px;
    border-radius: 0px;
    -webkit-filter: none;
    filter: none;
}


.btn.btn-excel:hover{
  background-color: #217346;
}

.modal-footer {
    padding: 2px;
    text-align: right;
    border-top: none;
    background: #fff;
    border-radius: 4px;
}

a {
    color: #217346;
    text-decoration: none;
}

@media (max-width: 768px){
	.modal-dialog{
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

  .modal-body {
    width: 100% !important;
    padding: 0;
  }
  
  .modal-content{
    padding: 20px;
  }

}





.error-message{
	color: #e82110;
    display: block;
    font-size: 12px;
}



.modal-dialog {
    width: 100%;
    border-radius: 0px;
    margin-top: 25vh;
}

.modal-content {
    border-radius: 0;
    box-shadow: none;
}

.modal-backdrop.fade.in {
    background-color: rgba(0,0,0,0.7);
}

.modal-body {
    background: #fff;
    border: none;
    width: 350px;
    margin: auto;
}

.modal-title {
  margin-bottom: 20px;
  font-size: 22px;
}
